<!DOCTYPE html>
<html lang="ja">
	<head>
		<title>MyTodo2023</title>
		<link rel="stylesheet" href="styles.css">
		<meta charset="utf-8">
	</head>
	<body>
		<header>
			<div class="container">
				<div class="logo">My Todo</div>
				<div id="timer"></div>
			</div>
		</header>
		<section>
			<div class="container">
				
				<div id="todo">
					<h1>
						<button v-on:click="purge">全消し</button>
						My Todos
						<span class="info">{{ remaining.length }}/{{ todos.length }}</span>
					</h1>
					<ul>
						<li v-for="(todo, index) in todos">
							<input type="checkbox" v-model="todo.isDone">
							<span :class="{done:todo.isDone}">
								{{ todo.title }}
							</span>
							<span v-on:click="deleteItem(index)" class="command">[x]</span>
						</li>
					</ul>
					<form v-on:submit="addItem">
						<input v-model="newItem" type="text">
						<input type="submit" value="追加">
					</form>
				</div>
				
				
				<div class="charactor"></div>
				<div id="map">
					
				</div>
			</div>
		</section>
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?language=ja&region=JP&key_AIzaSyAB9wcrectlun7gsgAlQRtELdqN1pVurA0&callback=initMap" async defer></script>
		<script src="main.js"></script>
	</body>
</html>