<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>SAKURAS DOCUMENT</title>
<link rel="stylesheet" href="styles.css">
</head>
<body>
	<header class="header">
		<div class="container">
		  <div class="logo">
				<img src="sakurapng.png">
		  	<P>Sakura`s Document</P>
		  </div>
		</div>
	</header>
	<div class="main">
		<div class="container">
			<section class="todoArea">
				<div id="app" class="TodoContainer">
					<h1>
						<button @click="purge">Putge</button>
						Sakura's Todos
						<span class="info">({{ remaining.length }}/{{ todos.length }})</span>
					</h1>
					<h2></h2>
					<ul>
						<li v-for="(todo, index) in todos">
							<input type="checkbox" v-model="todo.isDone">
							<span :class="{done: todo.isDone}">{{ todo.title }}</span>
							<span @click="deleteItem(index)"  class="command">[x]</span>
						</li>
						<li v-show="!todos.length">な〜んもないよ？</li>
					</ul>
					<form @submit.prevent="addItem">
						<input type="text" v-model="newItem">
						<input type="submit" value="Add">
					</form>
				</div>
			</section>
			<section class="characterDisplay">
				<div class="sakuraArea">
					<img src="IMG_2126.GIF">
				</div>
				<div id="textArea">
					
				</div>
			</section>
		</div>
	</div>
	<div class="container">
	  <div id="target"></div>
	</div>
	<footer class="footer">
	</footer>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="main.js"></script>
<script src="jquery-3.4.1.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?language=ja&region=JP&key=AIzaSyAB9wcrectlun7gsgAlQRtELdqN1pVurA0&callback=initMap" async defer></script>
  <script>
    function initMap() {
      'use strict';
			
			function success(pos) {
				const lat = pos.coords.latitude;
				const lng = pos.coords.longitude;
				let target = document.getElementById('target');
      let map;
      let center = {lat: lat, lng: lng};
			let marker;

      map = new google.maps.Map(target, {
        center: center,
        zoom: 16,	
      });
			
			marker = new google.maps.Marker({
				position: center,
				map: map,
				title: 'sakura',
				icon: {
					url: 'sakuraWin.gif',
					scaledSize: new google.maps.Size(120, 120)
				},
			});
			}
			
			function fail() {
				alert('位置情報の取得に失敗したよ。');
			}
			
			navigator.geolocation.getCurrentPosition(success, fail);
			
			
    }
		
  </script>
</body>
</html>