body {
  font-size: 16px;
  font-family: Verdana, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	background-color: dodgerblue;
}

.logo {
	display: block;
	line-height: 65px;
}

.logo p {
	color: #fff;
	font-weight: bold;
	font-size: 30px;
	margin: 0;
}

.container {
  width: 1120px;
  margin: 0 auto;
}

#character-area {
	background-image: url(haikei-hiru.png);
	background-size: contain;
	width: 1120px;
	height: 300px;
	margin-left: 160px;
}

#chara-text {
	padding: 20px;
	margin: auto;
	width: 900px;
	background-color: black;
	height: 100px;
	border-radius: 10px;
	color: #fff;
	font-weight: bold;
}

#sakura img {
	display: block;
	width: 200px;
	height: 200px;
	display: block;
	position: relative;
	top: 90px;
	left: 90px;
}

#shuma img {
	width: 190px;
	position: relative;
	top: -90px;
	left: 300px;
	transform: scale(-1, 1);
}

#app h1 {
  font-size: 16px;
  border-bottom: 1px solid #ddd;
  padding: 16px 0;
}

#app li {
  line-height: 1.5;
}

#app input[type="text"] {
  padding: 2px;
}

.command {
  font-size: 12px;
  cursor: pointer;
  color: #08c;
}

#app ul {
  padding: 0;
  list-style: none;
}

#app li > span.done {
  text-decoration: line-through;
  color: #bbb;
}

.info {
  color: #bbb;
  font-size: 12px;
  font-weight: normal;
}

#app h1 > button {
  float: right;
}

@media screen and (max-width:600px) {
	header {
		width: 100%;
	}
	
	
	#character-area {
		width: 100%;
		margin: 0 auto;
		
	}
	
	#character-area img {
		width: 120px;
		height: 120px;
	}
	
	#sakura img {
		top: 160px;
		left: 20px;
	}
	
	#shuma img {
		top: 50px;
		left: 140px;
	}
	
	#chara-text {
		width: 280px;
	}
	
	#chara-text p {
		margin: 0;
		font-size: 10px;
	}
	
	#app {
		width: 100%
	}
}